In [1]:
tup1=()
print(tup1,(type(tup1)))

() <class 'tuple'>

In [3]:
tup2=(1,)
print(tup2,(type(tup2)))

(1,) <class 'tuple'>

In [4]:
tup3=(1,2,3,"a","hello")
print(tup3)

(1, 2, 3, 'a', 'hello')

In [5]:
tup4=1,2,3,"a"
print(tup4)

(1, 2, 3, 'a')

In [6]:
tup4[0]

1

In [7]:
A=("iron-man","thor","hulk","captain")
A[1]

'thor'

In [8]:
tup6=(10,20)
print(tup6)

(10, 20)

In [10]:
a,b=tup6
print(a)
print(b)

10
20

In [11]:
a,b,*c=(10,20,30,40)
print(a,b,c)

10 20 [30, 40]

In [12]:
A[::-1]

('captain', 'hulk', 'thor', 'iron-man')

In [15]:
t1=(1,2,3,4,5,6,7,8,9,1,2,3,4)
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4)

In [16]:
t1.count(4)

2

In [17]:
t1.index(4)

3

In [18]:
t2=(10,20)

In [19]:
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 10, 20)

In [20]:
min(t1)

1

In [21]:
max(t1)

9

In [22]:
list1=[1,2,3]
t1=tuple(list1)
print(t1)

(1, 2, 3)

In [23]:
a=input("Enter value")
t1=tuple(a.split()  )
print(t1)

Enter valuea b c d
('a', 'b', 'c', 'd')

In [24]:
list1=[]
print(list1,type(list1))

[] <class 'list'>

In [26]:
list2=[1,2,3,4,"a",("d",1)]
print(list2)

[1, 2, 3, 4, 'a', ('d', 1)]

In [27]:
list2[-1]

('d', 1)

In [30]:
list2[::-1]

[('d', 1), 'a', 4, 3, 2, 1]

In [31]:
list4=[1,2,("hello","iron-man"),"m"]
print(list4)

[1, 2, ('hello', 'iron-man'), 'm']

In [32]:
list4[2][1]

'iron-man'

In [33]:
list4[2][1][5:]

'man'

In [34]:
list4

[1, 2, ('hello', 'iron-man'), 'm']

In [35]:
list4[2]="s"

In [36]:
list4

[1, 2, 's', 'm']

In [38]:
list5=list4[:]
print(list5)

[1, 2, 's', 'm']

In [39]:
[10,20]+[30,40]

[10, 20, 30, 40]

In [40]:
[10,20]*2

[10, 20, 10, 20]

In [41]:
A

('iron-man', 'thor', 'hulk', 'captain')

In [42]:
A=['iron-man', 'thor', 'hulk', 'captain']
print(A)

['iron-man', 'thor', 'hulk', 'captain']

In [43]:
A.append("vision")

In [44]:
a

'a b c d'

In [45]:
A

['iron-man', 'thor', 'hulk', 'captain', 'vision']

In [46]:

A.extend("ahgsdg")

In [47]:
A

['iron-man', 'thor', 'hulk', 'captain', 'vision', 'a', 'h', 'g', 's', 'd', 'g']

In [48]:
A1=['iron-man', 'thor', 'hulk', 'captain']
print(A1)

['iron-man', 'thor', 'hulk', 'captain']

In [49]:
A1.insert(1,"caption")

In [50]:
A1

['iron-man', 'caption', 'thor', 'hulk', 'captain']

In [53]:
A1.remove("caption")

In [54]:
A1

['iron-man', 'thor', 'hulk', 'captain']

In [55]:
A1.pop(-1)

'captain'

In [56]:
A1

['iron-man', 'thor', 'hulk']

In [57]:
A2=[1,2,3,4,5]

In [58]:
A2.reverse()

In [59]:
A2

[5, 4, 3, 2, 1]

In [61]:
list8=[1,2,9,10,3,4,5,6,7]

In [64]:
list8.sort(reverse=1)

In [65]:
list8

[10, 9, 7, 6, 5, 4, 3, 2, 1]

In [66]:
list7=[('k',10),('b',5),('c',10),('d',6),('e',20)]
print(list7)

[('k', 10), ('b', 5), ('c', 10), ('d', 6), ('e', 20)]

In [68]:
list7=[(2,10),(3,5),(9,10),(8,6),(1,20)]
def fun1(x):
    return(x[0]+x[1])
list7.sort(key=fun1)
print(list7)

[(3, 5), (2, 10), (8, 6), (9, 10), (1, 20)]